node_modules
.idea
.vscode
.DS_Store
.git
packages/cts-template-typescript
packages/cts-template
packages/create-two-scripts/lib
packages/create-two-scripts/bin
packages/babel-preset-two-app
*.md
yarn.lock
package.json
tsconfig.json